.container{
    width: 100%;
    margin-bottom: 160px;

    h2{
        color: #D3A60D;
        font-size: 60px;
        width: 1079px;
        margin: 0 auto 40px auto;
        text-align: center;
    }

    p{
        color: #FFFFFF;
        font-size: 30px;
        word-spacing: 15px;
        text-align: center;
        margin-bottom: 40px;
    }

    .flexItem{
        display: flex;
        justify-content: space-between;
        margin: 0 100px;
        gap: 20px;

        .item{
            width: 25%;

            img{
                width: 100%;
                border-radius: 20px;
            }

            p{
                font-size: 20px;
                word-spacing: normal;
            }
        }
    }
}