.container{
    width: 100%;
    background-color: #E7E7E7;

    .headerTop{
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;

        img:first-child{
            width: 336px;
        }
    }

    .header{
        width: 90%;
        height: 84px;
        border: 1px solid #FFFFFF66;
        backdrop-filter: blur(20px);
        border-radius: 100px;
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        color: #FFFFFF;
        margin-top: 20px;
        position: fixed;
        top: 160px;
        left: 50%;
        transform: translate(-50%);
        z-index: 100;


        .links{
            display: flex;
            align-items: center;
            gap: 40px;

            a{
                text-decoration: none;
                color: #FFFFFF;
                font-size: 24px;

            }
        }

        .language{
            border: 1px solid #FFFFFF;
            height: 54px;
            border-radius: 20px;
            font-size: 24px;
            cursor: pointer;
            transition: .6s;
            height: auto;
            position: relative;
            overflow: hidden;
            
            .hidden{
                padding-top: 11px;

                p{
                    background-color: none;
                    padding: 5px 11px;
                    border-radius: 10px;
                }

                p:hover{
                    background-color: #FFFFFF33;
                }
            }

            .mainLang{
                display: flex;
                padding: 10px 11px;
                align-items: center;
            }

            img{
                width: 20px;
                height: 20px;
                margin-left: 15px;
            }
        }
    }
}

