.footer{
    width: 100%;
    background-color: #E7E7E7;
    padding: 47px 100px 24px 100px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    position: absolute;
    bottom: 0;

    .container{
        display: flex;
        justify-content: space-between;
        color: #064CA1;

        p{
            margin: 10px 0;
            display: flex;
            align-items: center;
            font-size: 18px;

            img{
                margin-right: 10px;
            }
        }

        h3{
            font-size: 26px;
        }

        .emblem{
            width: 335px;

            img{
                width: 100%;
            }

            p{
                color: #00000066;
                margin-top: 56px;
            }
        }

        .contact{
            a{
                color: #064CA1;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        .navigation{
            a{
                cursor: pointer;
                text-decoration: none;
                color: #064CA1;
            }
        }

        .social_media{
            img{
                width: 40px;
                margin: 10px 20px 10px 0;
                cursor: pointer;
            }
        }
    }
}